*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-thumb{
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, #00a8ff , #4ff84f);
}

.heading{
    text-align: center;
    color: rgb(2, 6, 255);
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    font-size: 4rem;
}

.container{
    border: 1px solid black;
    width: 35rem;
    height: 17rem;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.timer_box{
    display: flex;
    font-size: 5rem;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    background-color: rgb(0, 85, 255);
    padding: 10px 0;
}

.border_radius{
    border-radius: 1rem;
}

.time{
    border: 1px solid black;
    font-size: 7rem;
    color: black;
    background-color: whitesmoke;
}

.btn{
    font-size: 2rem;
    cursor: pointer;
    padding: 8px 30px;
    background-color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    letter-spacing: 2px;
    margin: 0 10px;
    border: 2px solid rgb(78, 77, 77);
    transition: all .9s ease;
}

.start{
    background-color: #1ffb1f;
}

.one_hunderth_second{
    font-size: 3.5rem;
    width: 8rem;
    height: 8rem;
    text-align: center;
    place-content: center;
}

.lapbox{
    width: 35rem;
    height: 10rem;
    scale: 0;
    transition: all 0.5s ease;
}

.lapbox_open{
    scale: 1;
}

.headings,
.lap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ff0090;
    padding: 10px;
}

.laps{
    height: 100%;
    overflow: auto;
}

.headings{
    border-bottom: 2px solid black;
}

.lap{
    color: green;
    overflow: auto;
}

@media screen and (max-width:700px){
    html{
        font-size: 80%;
    }
}

@media screen and (max-width:500px){
    html{
        font-size: 65%;
    }
}

@media screen and (max-width:400px){
    html{
        font-size: 50%;
    }
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 100%;
    height: 3rem;
    gap: 1rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.12);
}

footer a{
    text-decoration: underline white;
    color: rgb(140, 255, 24);
    letter-spacing: 5px;
    font-family: 'Courier New', Courier, monospace;
}

footer a:hover{
    text-decoration: underline wavy whitesmoke;
}